<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定命名空间为Mapper接口类的全类名 -->
<mapper namespace="com.clay.mybatis.dao.EmployeeMapper">

	<!-- 插入数据 -->
	<insert id="addEmp" parameterType="com.clay.mybatis.bean.Employee" useGeneratedKeys="true" keyProperty="id">
		insert into t_employee (last_name, gender, email)
		values(#{lastName}, #{gender}, #{email})
	</insert>

	<!-- 返回集合类型 -->
	<select id="getAllEmp" resultType="com.clay.mybatis.bean.Employee">
		select id, last_name as lastName, gender, email from t_employee
	</select>

	<!-- 返回 Map 类型 -->
	<select id="getEmpById" parameterType="Long" resultType="Map">
		select id, last_name as lastName, gender, email
		from t_employee
		where id = #{id}
	</select>

	<!-- 返回 Map 类型 -->
	<select id="getEmpByLastName" parameterType="String" resultType="Map">
		select id, last_name as lastName, gender, email
		from t_employee
		where last_name like #{lastName}
	</select>

</mapper>